.postContainer {
  margin-top: var(--space);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.postForm {
  grid-column: 2/12;
}

.categorias {
  display: flex;
  align-items: center;
  gap: var(--space);
}
.categorias input {
  width: 1.25rem;
  height: 1.25rem;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
}

input[type="radio"].red:checked + label::before {
  background-color: var(--red);
}

input[type="radio"].blue:checked + label::before {
  background-color: var(--blue);
}

input[type="radio"].green:checked + label::before {
  background-color: var(--green);
}

.btn {
  border: none;
  background: var(--yellow);
  padding: 0.875rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: var(--space);
}
