.btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  background: var(--blue);
  padding: 1rem 2rem;
  box-sizing: border-box;
  transition: 0.1s;
  min-width: 8rem;
}

.btn:hover,
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #19a2d7, 0 0 0 4px var(--blue);
}

.btn:disabled {
  opacity: 0.5;
  cursor: wait;
}
